body {
    background-color: lightgreen;
    background-size: 90%;
}

.inventory{
    display:block;
    margin:auto;
    width: 30%;
    text-align:center;
    background-color: rgb(99, 182, 97);
    font-family: "Courier New", monospace;
    padding:2px;
}

.marketplace{
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.upgrades, .sellButtons, .return {
    margin: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
}



button{
    background-color: rgb(167, 222, 227);
    font-family: "Courier New", monospace;
    font-size: 25px;
    font-style: bold;
    box-shadow: 0 9px #999;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



#click {
    background-color:transparent;
    border-color: transparent;
    padding-top: 70px;
}

#click :active {
    transform: scale(1.1);
}


.tree {
    display:block;
    margin:auto;
  }

h1 {
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 50px;
    color: rgb(28, 40, 8);
    padding-bottom: 20px;
    padding-top: 5px;
}
