body {
    background-color: lightgreen;
    background-size: 90%;
}

.inventory{
    display:block;
    margin:auto;
    width: 30%;
    text-align:center;
    background-color: rgb(99, 182, 97);
    font-family: "Courier New", monospace;
    padding:2px;
}

.marketplace{
    display: none;
}


.sellButtons{
    display: grid;
    grid-template-columns: repeat(3, 72px);
    margin-bottom: 10px;
}

.upgrades, .items button{
    display: grid;
    grid-template-columns: repeat(1, 96px);
    margin-bottom: 10px;
}

button{
    background-color: white;
    font-size: 18px;
}



#chop {
    background-color:transparent;
    border-color: transparent;
    padding-top: 70px;
}

#chop :active {
    transform: scale(1.1);
}


.tree {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 33%;
  }